

body {
    background-image: url(images/marbel.png);
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
    line-height: 1;
    color: #777777;

}

p {
    color: #777777;
    margin: 20px;

}

.navRight {
    border-left: 1px solid #cccccc;

}

a:link {
    color: darkgray;
    text-decoration: none;

}

a:visited {
    color: darkgray;
    text-decoration: none;
    
}

a:active {
    color: darkgray;
    text-decoration: none;
    
}

a:hover {
    color: lightblue;

}

nav {
    margin: 0px;
    padding: 0px;
}

.nav-link {
    padding: 0px;
}

.navbar {
    background-color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border: 2px solid #cccccc;
    margin: 0px;
    padding: 0px;

}

.navbar-brand {
    background-color: #4aaaa5;
    color: #FFFFFF;
    font-weight: bold;
    width: auto;


}

.navWrapper {
    margin: auto;
    width: 940px;

}

.nav-item {
    margin: 20px 0px;
    padding: 0px 20px 0px 20px;


}
#profilePic {
    height: 250px;
    float: left;
    margin: 30px 30px 20px 30px;

}

#myName {
    padding:20px;
    color: #ffffff;
    font-weight: bold;

}

.sectionName {
    margin: 20px;
    padding-top: 20px;

}

.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    width: 100%;

    position: fixed;
    bottom:0px;
    
}



.socialLink {
    margin: 20px;
}

#copyright {
    float: right;
    margin: 20px;

} 

.sectionName {
    margin: 5px 30px;
    color: #4aaaa5;
    font-size: 130%;

}

.projectWrapper {
    margin: 30px;
    width: 220px;
    height: 140px;
    float: left;
    
}

#hangman {
    background: url('../images/hangman.png');
    background-size: cover;
    width: 100%;
    height: 100%;

}

#rpgGame {
    background: url('../images/rpg2.png');
    background-size: cover;
    width: 100%;
    height: 100%;

}

#triviaGame {
    background: url('../images/trivia.png');
    background-size: cover;
    width: 100%;
    height: 100%;

}

#infoWidget {
    background: url('../images/Info-widget.png');
    background-size: cover;
    width: 100%;
    height: 100%;

}

#rps {
    background: url('../images/rockpaper.png');
    background-size: cover;
    width: 100%;
    height: 100%;

}

.projectDiv {
    margin:0;
    text-align: center;
    position: relative;
    top: 50px;
    background-color: #4aaaa5;
    opacity: 0.9;
    color: #ffffff;
    width: 100%;
    padding: 10px 0px;

}

.lineInput, .textInput {
    width: 900px;
    padding: 5px 10px;
    margin: 0px 30px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.bodyDiv {
    width: 960px;
    margin: 30px auto 30px auto;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    
}